<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ShopCarMapper">

	<select id="selectShopCarById" parameterType="java.lang.String" resultType="com.example.demo.domain.ShopCar">
		select * from shopcar where shopcar_id = #{id}
	</select>
	<select id="deleteShopCarById" parameterType="java.lang.String" resultType="java.lang.Integer">
		delete from shopcar where shopcar_id = #{id}
	</select>
</mapper>
