<!DOCTYPE html>
<html>
<head>
<title>Account</title>
<!--  -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/webjars/jquery/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="js/simpleCart.min.js"> </script>
<script type="text/javascript" src="js/b.js"></script>
<script type="text/javascript" src="js/cookie_util.js"></script>
<!--<script type="text/javascript" src="js/login/loadlogin.js"></script>-->
<script type="text/javascript"th:src="${urls.getForLookupPath('js/login/loadlogin.js') }"></script>
<!-- slide -->
</head>
<body>
<!--header-->
<div class="header">
	<div class="header-top">
		<div class="container">
		<div class="col-sm-4 world">	
		</div>
			<div class="col-sm-4 logo">
				<a href="index.html"><img src="images/logo.png" alt=""></a>
			</div>
		
			<div class="col-sm-4 header-left">		
					<p class="log" id="user"><a href="mylogin.html">登录1111</a>
						<span>or</span><a  href="register.html">注册</a></p>
					<div class="cart box_1">
						<a >
						<h3> <div class="total">
							<span class="simpleCart_total"></span></div>
							<img src="images/cart.png" alt=""/></h3>
						</a>
						<p><a href="javascript:window.location.href='shopcar.html'" class="simpleCart_empty">我的购物车</a></p>
						<p><a href="javascript:checkaccepts()" class="simpleCart_empty">添加收货地址</a></p>
						

					</div>
					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>
		<div class="container">
			<div class="head-top">
				<div class="col-sm-2 number">
					<span><i class="glyphicon glyphicon-phone"></i>这是iphone</span>
				</div>
		 <div class="col-sm-8 h_menu4">
				<ul class="memenu skyblue">
					  <li class=" grid"><a  href="index.html">主页</a></li>	
				      <li><a  href="#">男装</a>
				      	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4>春装</h4>
									<ul>
										<li><a href="#">上衣</a></li>
										<li><a href="#">裤子</a></li>
										<li><a href="#">鞋子</a></li>
										
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<h4>夏装</h4>
									<ul>
										<li><a href="#">大短裤</a></li>
										<li><a href="#">短袖</a></li>
										<li><a href="#">凉鞋</a></li>
										
									
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<h4>冬装</h4>
									<ul>
										<li><a href="#">羽绒服</a></li>
										<li><a href="#">针织衫</a></li>
										<li><a href="#">靴子</a></li>
										
									</ul>	
								</div>												
							</div>
						  </div>
						</div>
					</li>
				    <li class="grid"><a  href="#">女装</a>
					  	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4>春装</h4>
									<ul>
										<li><a href="#">上衣</a></li>
										<li><a href="#">裤子</a></li>
										<li><a href="#">鞋子</a></li>
										
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<h4>夏装</h4>
									<ul>
										<li><a href="#">大短裤</a></li>
										<li><a href="#">短袖</a></li>
										<li><a href="#">凉鞋</a></li>
										
									
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<h4>冬装</h4>
									<ul>
										<li><a href="#">羽绒服</a></li>
										<li><a href="#">针织衫</a></li>
										<li><a href="#">靴子</a></li>
										
									</ul>	
								</div>												
							</div>
						  </div>
						</div>
			    </li>
				<li><a  href="#">所用技术</a></li>				
				<li><a class="color6" href="#">关于我们</a></li>
			  </ul> 
			</div>
				<div class="col-sm-2 search">		
			<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
		</div>
		<div class="clearfix"> </div>
			<!---pop-up-box---->
					<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
				<div id="small-dialog" class="mfp-hide">
				<div class="search-top">
						<div class="login">
							<input type="submit" value="">
							<input type="text" value="Type something..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}">		
						</div>
						<p>	Shopping</p>
					</div>				
				</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>			
	<!---->		
		</div>
	</div>
</div>
<!--//header-->
<div class="account">
	<div class="container">
		<h1 style="color:#6abbff">会员登录</h1>
		<div class="account_grid">
			   <div class="col-md-6 login-right">
				<form action="login.do" method="post">
					<span>用户名</span>
					<input type="text" id="usercode" name="usercode"> 
			
					<span>密码1</span>
					<input type="password" id="password" name="password"> 
					<div class="word-in">
				  		<a class="forgot" href="register.html">去注册?</a>
				 		 <input type="button" id="Login"  value="登录">
				 		 <span id="msg" style="color:red"></span>
				  	</div>
			    </form>
			   </div>	
			    <div class="col-md-6 login-left">
			  	 <h4>软件功能</h4>
				 <p>这是一个牛逼的软件,可以供大伙娱乐测试使用</p>
				 <p>点击了解软件详情</p>
				 <a class="acount-btn" href="desc.html">了解详情</a>
			   </div>
			   <div class="clearfix"> </div>
			 </div>
	</div>
</div>


</body>
</html>